#sf_media_browser_title small {
    font-weight: normal;
    font-size: 1em;
}

#sf_media_browser_forms {
    width: 290px;
    float: right;
}

#sf_media_browser_forms fieldset {
    margin-top: 1em;
    margin-bottom: 2em;
}

#sf_media_browser_forms:empty {
    display: none;
}

#sf_media_browser_forms:empty ~ #sf_media_browser_list {
    margin-right: -10px !important;
}

#sf_media_browser_list {
    margin: 20px;
    margin-left: -10px !important;
    margin-right: 300px !important;
    list-style: none;
}

#sf_media_browser_list > li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 140px;
    height: 100px;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

#sf_media_browser_list > li.placeholder {
    display: none;
}

#sf_media_browser_list > li.placeholder:only-child {
    display: block;
    text-align: left;
    font-style: italic;
}

#sf_media_browser_list label {
    display: block;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#sf_media_browser_list .icon a {
    display: block;
}

#sf_media_browser_list .icon a:hover {
    font-style: none;
    background: rgba(128, 128, 128, 0.1);
}

#sf_media_browser_list .action {
    text-align: right;
}

/* Icons */

#sf_media_browser_list .action .delete {
    display: inline-block;
    text-indent: 5000px;
    width: 16px;
    height: 16px;
    background: transparent url('../images/icons-16/trash.png') no-repeat;
}

label.name span#validate {
    display: inline-block;
    text-indent: -5000px;
    width: 16px;
    height: 16px;
    background: transparent url('../images/icons-16/ok.png') no-repeat;
}

label.name span#cancel {
    display: inline-block;
    text-indent: -5000px;
    width: 16px;
    height: 16px;
    background: transparent url('../images/icons-16/cancel.png') no-repeat;
}